.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 56px;
    width: 72px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    padding-top: 5px;
    

}
.sidebar-link {
    
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.sidebar-link:hover {
    background-color: rgb(234, 234, 234);
}
.sidebar-link img {
    height:24px;
}
.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
    margin-top: 6px;
}